@import './base.css';
@import 'element-plus/theme-chalk/dark/css-vars.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


a,
.red {
  text-decoration: none;
  color: var(--isr-c-red);
  transition: 0.4s;
}



@media (hover: hover) {
  a:hover {
    background-color: var(--isr-c-bg-red);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
    
}

